  .about-main-content {
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .about-title {
    margin-top: 40px;
  }

  .about-profile_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    text-align: center;
  }

  .overview {
    margin-top: 10px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border-color: darkgray;
  }

  .overview ul {
    padding-top: 15px;
    padding-left: 20px;
    list-style-type: none;
  }
  .overview img {
    padding-right: 10px;
  }

  .icons {
    width: 35px
  }

  .social-icons {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .social-loader-icons {
    display: inline;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {

   .about-profile_pic {
      height: 150px;
      width: 150px;
    }

    a img {
      height: 24px;
      width: 24px;
    }

    .about-main-content {
      margin-top: 150px;
    }
  }