.experience-main-content {
  margin-top: 100px;
  margin-bottom: 150px;
}

.experience-title {
  padding: 20px;
  display: block;
  text-align: center;
}

.experience-content {
  padding-left: 15px;
  padding-right: 15px;
}

.experience-content ul {
  padding-top: 5px;
  padding-left: 20px;
  list-style-type: square;
}

.experience-content li {
  padding-top: 5px;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: gray;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: whitesmoke;
  border: 4px solid lightgray;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -0.4%;
}

.right {
  left: 50.4%;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: whitesmoke;
  position: relative;
  border-radius: 6px;
}

.content:hover {
  cursor: pointer;
  transform: scale(1.01);
}

@media screen and (max-width: 600px) {

  .experience-main-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}