  .footer-wrapper {
    position: fixed;
    bottom: 0px;
    margin-top: 20px;
    width: 100%;
    background-color: whitesmoke;
    font-size: 14px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  }

  .footer-content {
    padding: 0px 30px 0px 0px;
    margin-bottom: 0px;
    max-width: 100%;
    height: fit-content;
    text-align: left;
    background-color: whitesmoke;
  }