  .cv-loader-wrapper {
    opacity: 0.65;
  }

  .text-sm-loading,
  .text-loading,
  .text-loading-large,
  .text-loading-extra-large,
  .text-loading-xxxl,
  .image-loading,
  .reference-icon-loading,
  .profile-picture {
    display: inline-block;
    height: 16px;
    border-radius: 5px;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: loading;
    background: #f6f7f8;
    background: linear-gradient(to right, #EEEEEE 8%, #DDDDDD 18%, #EEEEEE 33%);
    background-size: 800px 104px;
  }

  .text-sm-loading {
    width: 60px;
  }

  .text-loading {
    width: 180px;
  }

  .text-loading-large {
    width: 220px;
  }

  .text-loading-extra-large {
    width: 250px;
  }

  .text-loading-xxxl {
    width: 100%;
    height: 30px
  }

  .image-loading {
    margin-top: 25px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
  }

  .reference-icon-loading {
    margin-top: 25px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .profile-picture {
    width: 330px;
    height: 330px;
    border-radius: 150px;
  }

  @keyframes loading {
    0% {
      background-position: -468px 0;
    }
    100%{
      background-position: 468px 0;
    }
  }

  @media screen and (max-width: 600px) {

    .text-sm-loading {
      width: 25px;
    }

    .text-loading {
      width: 60px;
    }

    .text-loading-large {
      width: 100px;
    }

    .text-loading-extra-large {
      width: 125px;
    }
    
    .profile-picture {
      width: 150px;
      height: 150px;
      border-radius: 150px;
    }

    .image-loading {
      margin-top: 25px;
      width: 24px;
      height: 24px;
      border-radius: 5px;
    }

    .reference-icon-loading {
      margin-top: 25px;
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }

  }