  .modal-blackscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal {
    margin-top: -40px;
    opacity: 0;
    transition: opacity .5s, margin-top .5s;
  }

  .modal.show {
    display: block;
    animation: modalShow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  .close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  @keyframes modalShow {
    0% {
      opacity: 0;
      margin-top: 150px;
    }
    100% {
      opacity: 1;
      margin-top: 80px;
    }
  }

  @keyframes modalHide {
    0% {
      opacity: 1;
      margin-top: 0px;
    }
    100% {
      opacity: 0;
      margin-top: -40px;
    }
  }