  .nav-top {
    background-color: whitesmoke;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
  }

  .cv {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px;
  }

  .nav-item {
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-item:hover {
    color: darkgray;
  }