.references-main-content {
  margin-top: 100px;
}

.references-title {
  padding: 20px;
  display: block;
  text-align: center;
}

.reference-content {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border-color: darkgray;
}

.referee-icons {
  width: 100px;
  border-radius: 100%;
}

p {
  margin-bottom: 0px;
}

.reference {
  text-align: center;
  padding: 20px;
  transition: transform .3s; /* Animation */
}

.reference:hover {
  transform: scale(1.2);
}

.reference img:hover {
  cursor: pointer;
}

.reference-overview {
  margin-top: 10px;
}

.reference-overview ul {
  padding-top: 10px;
  padding-left: 20px;
  list-style-type: none;
}
.reference-overview img {
  padding-right: 10px;
}

.icons {
  width: 35px
}

@media screen and (max-width: 600px) {

  .reference-main-content {
    margin-top: 50px;
  }

  .referee-icons {
    width: 60px;
  }

}