.skills-main-content {
  margin-top: 100px;
  margin-bottom: 150px;
}

.skills-title {
  padding: 5px;
  display: block;
  text-align: center;
}

* {
  box-sizing: border-box
}

.skill-container {
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;;
}

.skill-title {
  padding-top: 10px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  color: whitesmoke;
}

.eighty-percent {
  width: 80%;
  background-color: green;
  border-radius: 5px;
}

.seventy-five-percent {
  width: 75%;
  background-color: orange;
  border-radius: 5px;
}

.seventy-percent {
  width: 70%;
  background-color: orange;
  border-radius: 5px;
}

.sixty-five-percent {
  width: 65%;
  background-color: orange;
  border-radius: 5px;
}

.fifty-five-percent {
  width: 55%;
  background-color: red;
  border-radius: 5px;
}

.fifty-percent {
  width: 50%;
  background-color: red;
  border-radius: 5px;
}

.thirty-percent {
  width: 30%;
  background-color: red;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  
  .skills-main-content {
    margin-top: 60px;
  }
}