  body,
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 720px;
    font-size: 14px;
    line-height: 1.7em;
    color: black;
  }

  @media screen and (min-width: 601px) {
    body,
    html {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 600px) {
    body,
    html {
      font-size: 10px;
      min-height: 320px;
    }
  }